In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("assets/data/final_clean.csv")
df.head()

,name,categories,city,state,postalCode,latitude,longitude,region
0,90 Miles Cuban Cafe,Ethnic,Chicago,IL,60618,41.937897,-87.685781,Midwest
1,A's Ace Burgers,Burger,Dana Point,CA,92629,33.464500,-117.684500,West
2,A&W/Long John Silvers,Seafood,Belle Vernon,PA,15012,40.136482,-79.842820,Northeast
3,Abruzzi Pizza,Pizza,Brookhaven,PA,19015,39.872570,-75.387220,Northeast
4,Acropolis Gyro Palace,Ethnic,Columbus,OH,43214,40.071324,-83.018535,Midwest

In [7]:
state_categories = df.groupby(["state", "categories"]).size()

In [9]:
state_categories.to_json("state_categories.json")

In [20]:
region_categories = df.groupby(["region", "categories"]).size()

In [12]:
region_categories.to_json("region_categories.json")

In [19]:
df.categories.unique()

array(['Ethnic', 'Burger', 'Seafood', 'Pizza', 'Snack', 'Chicken',
       'Sandwich'], dtype=object)

In [23]:
region_categories.unstack().to_json("region_categories.json")

In [29]:
state_categories.unstack().fillna(0).to_json("state_categories.json")

In [31]:
state = state_categories.unstack().fillna(0)

In [37]:
state.head()

categories  Burger  Chicken  Ethnic  Pizza  Sandwich  Seafood  Snack
state
AK             3.0      0.0     4.0    1.0       6.0      0.0    1.0
AL             2.0      1.0     3.0    0.0       0.0      0.0    0.0
AR            47.0      7.0    18.0    6.0      18.0      2.0    3.0
AZ           148.0     15.0    73.0   31.0      48.0      2.0   12.0
CA           615.0     70.0   214.0   78.0     112.0      2.0   67.0

In [41]:
pd.to_numeric(state['Burger'], state['Chicken'], downcast = "integer")

state
AK      3
AL      2
AR     47
AZ    148
CA    615
CO     53
CT     18
DE     13
FL    315
GA    207
HI     27
IA     59
ID     21
IL    204
IN     72
KS     21
KY     91
LA    111
MA     85
MD     83
ME     15
MI    170
MN     86
MO     65
MS     29
MT     13
NC    133
ND     11
NE     32
NH     18
NJ     69
NM     41
NV     57
NY    175
OH    233
OK     69
OR     94
PA    183
RI      5
SC     90
SD     19
TN    158
TX    405
UT     19
VA     97
VT     11
WA     97
WI     77
WV     37
WY     10
Name: Burger, dtype: int16

In [33]:
state(columns = ['Burger', 'Chicken', 'Ethnic', 'Pizza', 'Sandwich', 'Seafood', 'Snack'], dtype = int)

TypeError: 'DataFrame' object is not callable

In [42]:
state.head()

categories  Burger  Chicken  Ethnic  Pizza  Sandwich  Seafood  Snack
state
AK             3.0      0.0     4.0    1.0       6.0      0.0    1.0
AL             2.0      1.0     3.0    0.0       0.0      0.0    0.0
AR            47.0      7.0    18.0    6.0      18.0      2.0    3.0
AZ           148.0     15.0    73.0   31.0      48.0      2.0   12.0
CA           615.0     70.0   214.0   78.0     112.0      2.0   67.0

In [44]:
Burger = pd.to_numeric(state['Burger'], downcast = "integer")

In [46]:
Chicken = pd.to_numeric(state['Chicken'], downcast = "integer")

In [47]:
Ethnic = pd.to_numeric(state['Ethnic'], downcast = "integer")

In [48]:
Pizza = pd.to_numeric(state['Pizza'], downcast = "integer")

In [49]:
Sandwich = pd.to_numeric(state['Sandwich'], downcast = "integer")

In [50]:
Seafood = pd.to_numeric(state['Seafood'], downcast = "integer")

In [51]:
Snack = pd.to_numeric(state['Snack'], downcast = "integer")

In [52]:
statedf = pd.DataFrame()

In [ ]:
statedf['Burger'] = Burger
statedf['Chicken'] = Chicken
statedf['Ethnic'] = Ethnic
statedf['Pizza'] = Pizza
statedf['Sandwich'] = Sandwich
statedf['Seafood'] = Seafood
statedf['Snack'] = S